.result-page-wrapper {
  background-color: var(--bg);
  min-height: calc(100vh - 75px - 70px);
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

.result-button {
  background-color: var(--bg);
  color: var(--fg);
  font-weight: 700;
  border: none;
  padding: 0.75rem;
  transition: all 0.2s ease-out;
}

.result-button:hover {
  background-color: #1c3d6e;
  border: none;
  color: var(--fg);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}